﻿@model IEnumerable<Task23_Advanced.Models.Article>
@{
    Layout = "";
    ViewBag.Title = "Main page of library";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Main.css" />

</head>
<body>
    <div class="navbar navbar-dark bg-dark ">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Main")">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Guest")">Guest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Questionnaire")">Questionnaire</a>
            </li>

        </ul>
    </div>
    @foreach (var item in Model)
    {
        <article>
            <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
            <h3>@Html.DisplayFor(modelItem => item.Date)</h3>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
        </article>

    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")

</body>
</html>

